/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.container2 {
    width: 80%;
    margin: auto;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.container a {
    display: inline-block;
}

.container a:hover {
    background-color: #ddd;
    color: black;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    border-radius: 50px;
}

header {
    background-color: #4d4c4c;
    color: #fff;
    padding-top: 20px;
    min-height: 60px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
    float: left;
    font-family: 'Roboto Mono', monospace;
    margin-right: 20px;
}

.blue-text {
    color: lightblue;
}

.white-text {
    color: white;
}

.purple-text {
    color: purple;
}

nav ul {
    float: none; 
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f4f4f4;
}

section {
    padding: 40px 0;
}

#accueil {
    background: #f4f4f4;
    text-align: center;
}

#projets {
    position: relative;
    background-color: #333;
    background-size: cover;
}

#projets::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 102, 102, 0.5);
}

.project {
    margin-bottom: 40px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    width: 100%;
    height: auto;
}

.project h3 {
    margin-top: 10px;
    font-size: 24px;
    color: #333;
}

.project p {
    color: #666;
}

#a-propos {
    background: #ccc;;
    text-align: center;
    padding: 60px 0;
}

#a-propos h2 {
    margin-bottom: 20px;
}

#contact {
    background: #ccc;
    padding-bottom: 60px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    outline: none;
    border-color: #333;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}

.title {
    text-align: center;
}

.title h1 {
    background-color: #4d4c4c;
    font-size: 10vw;
    color: #9b8c71;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-shadow: 20px 3px 11px rgba(0,0,0,.7);
}

#social-links {
    padding: 40px 0;
    background-color: #ccc;
}

.container2 {
    display: flex;
    justify-content: center;
}

.container2 a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container2 a:hover {
    background-color: #555;
}